<html>
<body>
    <h2>Submitted Information:</h2>
        <h3>Name: <%= postdata.name %></h3>
        <h4>Dojo Location: <%= postdata.location %></h4>
        <h4>Favorite Language: <%= postdata.language %></h4>
        <h4>Comment: <%= postdata.comment %></h4>
        <hr>
        <form action="http://localhost:8001/">
            <input type='submit' value='Go Back'>
        </form>
</body>
</html>
